<div class="rsm-header">
    <div class="rsm-logo">
        <h1><a routerLink="">Resu.Me</a></h1>
        <fa-icon [icon]="faPlus" class="rsm-navbar-toggler" (click)="toggleNavbar()"></fa-icon>
    </div>
    <div class="rsm-navbar">
        <ul [class.rsm-navbar-close]="!isShow" [class.rsm-navbar-open]="isShow">
            <li (click)="toggleNavbar()" routerLink="/login"><a routerLinkActive="rsm-active-link" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
            <li (click)="toggleNavbar()" routerLink="/signup"><a routerLinkActive="rsm-active-link" [routerLinkActiveOptions]="{exact: true}">Signup</a></li>
            <li (click)="toggleNavbar()" routerLink="/myresume"><a routerLinkActive="rsm-active-link" [routerLinkActiveOptions]="{exact: true}">My Resume</a></li>
            <li (click)="toggleNavbar()" routerLink="/tofill0"><a routerLinkActive="rsm-active-link" [routerLinkActiveOptions]="{exact: true}">My Favourite</a></li>
            <li (click)="toggleNavbar()" routerLink="/tofill1"><a routerLinkActive="rsm-active-link" [routerLinkActiveOptions]="{exact: true}">Logout</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>